<h1>Login</h1>
<div id = 'flash' class= 'error' style='color:red'>
<%= flash[:message] if flash[:message] %>
</div>

<%= form_tag %>
Username:
<%= text_field_tag :username %>
<br>

Password:
<%= password_field_tag :password %>
<br>

<%= submit_tag "Sign In" %>