<div id = 'flash' class= 'error' style='color:red'>
<%= flash[:message] if flash[:message] %>
</div>

<h1> Edit This Entry </h1>

<%= form_for @entry do |f| %>
    <%= f.label :project_id %>
    <%= f.collection_select :project_id, Project.all, :id, :title, include_blank:true %>


    <%= f.label :notes %>
    <%= f.text_area :notes %>
    <br>

     <%=f.label :images %>
     <%= f.file_field :images, multiple: true%>
    <br>
<%= f.submit %>
    <%end %>


    