<h1> Create a new Entry </h1>

<%= form_for @entry do |f| %>
    <%= f.label "Choose a project for this entry:" %>
    <%= f.collection_select :project_id, Project.all, :id, :title, include_blank:true %>


    <%= f.label :notes %>
    <%= f.text_area :notes %>
    <br>

     <%=f.label :images %>
     <%= f.file_field :images, multiple: true%>
    <br>
<%= f.submit %>
    <%end %>