
<h1><%= @user.username %>'s projects:</h1>
<ul>
<% @projects.each do |project| %>
  <li><h2>Title: <%= project.title %></h2>
    <ul>
    <li>Number of Entries: <%= project.entries.count %></li>
    <br>

    <li>Created on:<%= project.created_at.strftime("%m/%e/%Y %l:%M %p") %></li>
    <br>

    <li>Last updated on:<%= project.updated_at.strftime("%m/%e/%Y %l:%M %p") %></li>
    <br>
  </ul>

<% if project.categories.any? %>
    <b>Categories:</b>
    <br>
    <ul>
    <% project.categories.each do |category| %>
    <li><%= link_to(category.name, category) %></li>
   <br>
   </ul>
     <%end%>
<% end %>
    <br>
        <%= link_to "View this project", project_path(project) %>
        <% if project.user == current_user%>
        <%= link_to "Edit this project", edit_project_path(project)%>
        <%= link_to "Delete this Project", project, method: :delete, data: {confirm: 'Are you sure you want to delete this project?'} %>
        <% end %>
</li>
<% end %>
</ul>
