<div id = 'flash' class= 'sucess' style='color:green'>
<%= flash[:sucess] if flash[:sucess] %>
</div>


<h1> <%= @project.title %> </h1>

<h2><%= @project.description %></h2>

<h3><ul><% @project.categories.each do |category| %>
   <li> <%= link_to(category.name, category) %> </li>
   
    <%end%></h3>
    </ul>

<h1>Entries: </h1>

<ol><% @project.entries.each do |entry| %>
    <li>
    <%= entry.notes %>
    </li>

        <% if entry.images.any? %>
            <h3>Attachments:</h3>
            <% entry.images.each do |file| %>
                <%= image_tag file %>
                <%= link_to "Remove image", delete_file_entry_url(file.id), method: :delete, data: {confirm: 'Are you sure?'} %>
            <% end %>
        <%end%>
        <br>
    <%= link_to "Edit Entry", edit_entry_path(entry) %>
    <%= link_to "Delete Entry", entry, method: :delete, data: {confrim: 'Are you sure you want to delete this entry?'} %>
    <% end %></ol>

    <h3><%= link_to "Add a new entry", new_entry_path %></h3>