<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id = "navbar">
    <% if logged_in?%>
      <%= link_to "Create a new Project", new_project_path %> |
      <%= link_to "My projects", user_projects_path(current_user) %> |
      <%= link_to "View all Projects", projects_path %> |
      <%= link_to "View all Categories", categories_path %> |
      <%= link_to "Home", user_path(current_user)%> |
      <%= link_to "Logout", logout_path, method:"delete"%> 

    <% else %>
      <%=link_to "Sign Up", signup_path %> |
      <%=link_to "Log In", login_path %> |
      <%= link_to("Log In with Google", '/auth/google_oauth2', method: :post) %> 
  <% end %>

</div>


  <div id = 'flash' class= 'success' style='color:green'>
      <%= flash[:success] if flash[:success] %>
    </div>

    <div id = 'flash' class= 'error' style='color:red'>
      <%= flash[:message] if flash[:message] %>
    </div>
 
    <%= yield %>

  
  </body>
</html>
