<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id = 'flash' class= 'success' style='color:green'>
      <%= flash[:success] if flash[:success] %>
    </div>

    <div id = 'flash' class= 'error' style='color:red'>
      <%= flash[:message] if flash[:message] %>
    </div>
  </body>
    <%= yield %>

  
  </body>
</html>
